name: umka_flutter
description: Umka flutter client app

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  umka_proto:
    git: git@github.com:Umka-org/umka_proto.git

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

